

/*estilos componente PdvTable y PdvTablePaginator*/
.TitleGrid{
	text-align: right;
}
.tabletextalign{
	text-align: center;
	align-content: center;

}
.anchor-pdv{
	color: black;
}
.anchor-pdv:hover{
	color:black;
	text-decoration: underline;
}
.pageFocus{
	color: black;
	text-decoration: underline;
}
#search{
	width: 80%;
	float: left;
}


/*estilos para el filtro de busqueda*/


/*estilos componente Pdv y el comoponente CommentsPdv*/
.jumbotron{
	-webkit-box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
}
#textstyle{
	font-weight: bold;
}
.returnToPdvs{
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.returnToPdvs:hover, #rightAlign:hover, #pencil:hover{
	transform: scale(1.5);
	cursor: pointer;
}
#ocultoMenssage, #btn-filter{/*·btn-filter es para el boton del filtro de busqueda*/
	display: none;
}
#btnComment{
	width: 100%;
	height: 40px;
	-webkit-box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}
#FYHC{
	font-style: italic;
}
#addCommentPdv{
	padding-top: 14px;
}

#oculto, #ocultoModal{/*Para alert de succeful y el del modal*/
	display: none;
}
.btnToPdvs{
	background-image: url('/img/arrow.png');
	background-repeat: no-repeat;
	background-position:center;
	background-color: #E8ECEF;
	width: 100%;
	height: 100%;
}
.fieldComentarios{
	border-radius:8px;
	box-shadow:0 0 10px #999;
	padding: 5px;
}
.legenFielComentarios{
	background: #F9FAFC;
	width: auto;
	text-align: center;
}
.textComment{
	resize: none;
	-webkit-box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}



/*estilos componente PdvModelUpdate*/
.heigtModal{
	height: 500px;
	overflow: auto;
	overflow-x:hidden;
}
.mensajeModal{
	display: none;
}
#alertComment{
	color: #D52802;
	font-weight: 900;
}